@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirLTStd-Book.otf");
}

body {
    background-color: #040714;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Avenir", sans-serif;
}

/* Nav */
.nav {
    width: 100%;
    height: 5rem;
    background-color: #040714;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav a {
    text-decoration: none;
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    color: #fff;
    font-weight: 300;
}

.nav a:nth-child(1) {
    border: none;
    border-radius: 5px;
    background-color: #0063e5;
}

.nav a:nth-child(2) {
    border: 1px solid #fff;
    border-radius: 5px;
}

.logo {
    width: 5.3rem;
    height: 3rem;
    position: relative;
    left: 3rem;
}

.login-container {
    position: relative;
    right: 1rem;
}

/* Page 1 */

.page-1 {
    width: 100%;
    height: 100vh;
    /* border: 1px solid #fff; */
    background-image: url("../img/page-1-bg.jfif");
    background-size: 100vw 100%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page-1-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* height: inherit; */
}

.page-1-main img {
    width: 75%;
    margin: 5px;
}

.page-1-main > button {
    width: 75%;
    height: 3rem;
    background-color: #0063e5;
    border: none;
    border-radius: 5px;
    color: #f9f9f9;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.page-1-main > p,
.page-1-main > a {
    margin: 5px;
    padding: 5px;
    color: #fff;
}


.down-arrow {
    width: 2rem;
    height: 1rem;
    position: relative;
    top: 5rem;
    cursor: pointer;
    animation-name: arrow-animation;
    animation-duration: 1s;
    /* animation-delay: 0.5s; */
    animation-iteration-count: infinite;
}

@keyframes arrow-animation {
    0% {
        top: 1rem;
    }
    33% {
        top: 2rem;
    }
    75% {
        top: 1.5rem;
    }
    100% {
        top: 2rem;
    }
}

/* Page 2 */
.page-2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    margin-top: 3rem;
}

.page-2 > img {
    width: 50%;
}

.page-2-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    color: #fff;
    width: auto;
    margin-left: 3rem;
    padding: 1rem;
}

.page-2-text h1 {
    margin-left: -2rem;
}

.page-2-text > li {
    line-height: 30px;
}

/* Page 3 */


.page-3 {
    color: #fff;
    margin-top: 5rem;
}

.page-3> ul > h2 {
     text-align:center;
     font-size: 30px;
}

.page-3> ul > p {
    text-align:center;
    font-size: px;
    color:#bfbfbf;
    font: 1em sans-serif;
}

.page-3-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 05em;
}

.page-3-container > div {
    font-size: 2em;
    color: white;
}

.page-3-container > div > img {
    width: 378px;
    height: 227px;
    object-fit: cover;
    margin: 1rem;
}

/* Banner/Page 4 */

.page-4 {
   width: 100%;
}

.page-4-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #fff;
    margin: 3rem;
    padding: 4rem;
}

.page-4-container > img {
    width: 40%;
    margin: 1rem;
}

.page-4-text p {
    font-size: 1.3rem;
}

.page-4-text p > a {
    color: #fff;
}

.page-4-text > button {
    width: 20rem;
    height: 3.5rem;
    background-color: #0063e5;
    border: none;
    border-radius: 5px;
    color: #f9f9f9;
    letter-spacing: 1px;
    font-size: 1rem;
}

/* Page 5 */

.page-5 {
    width: 100%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.page-5-section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}

.page-5-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-5-article > img {
    width: 18rem;
}

.page-5-article > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
}

/* Page 6 */

.page-6 {
    width: 100%;
    height: 130vh;
    /* border: 1px solid #fff; */
}

.page-6 > h1 {
    text-align: center;
}

.page-6-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.page-6-section > button {
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    background-color: #13151d;
    border: none;
    height: 5rem;
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-6-section button > .sign::after {
    color: #f9f9f9;
    content: "+";
    font-size: 40px;
}

/* Page 7 */

.page-7 {
    width: 100%;
    height: 40vh;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.footer-logo {
    width: 5rem;
    margin-bottom: 1rem;
}

.globe {
    margin-right: 0.3rem;
    height: 1.3rem;
}

.footer-down-arrow {
    margin-left: 0.3rem;
    width: 0.7rem;
    height: 0.4rem;
}

.page-7-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.page-7-section > a {
    margin: 5px;
    padding: 5px;
    color: #ccc9c9;
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-7-section > a:hover {
    color: #fff;
}